# Ignore node_modules and build files
booking-app/node_modules/
booking-app/node_modules/
booking-app/build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore dependency lock files
package-lock.json
yarn.lock
